  <div class="card mb-3" style="max-width: 540px;margin: 0 auto;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="/images/user.jpg" class="card-img" alt="..." width="400">
    </div>
    <div class="col-md-8">
      <div class="card-body" style="margin-top:70px;margin-left:200px;font-size:30px;">
        <p class="card-title">@ViewData["name"]</p>
        <p class="card-text"><b>Email: </b> @ViewData["email"]</p>
        <p class="card-text"><b>Address: </b> @ViewData["address"]</p>
        <p class="card-text"><b>Phone: </b> @ViewData["phone"]</p>
      </div>
    </div>
  </div>
</div>