

<div style="color:grey;margin:0 700px;">
  <h1> Select color theme </h1>
  <br><br>
  <a class="btn" style="background:grey;color:white;margin-left:20px;" href="/Home/ChangeTheme?theme=light">Light</a>
  <a class="btn" style="background:black;color:white;margin-left:20px;" href="/Home/ChangeTheme?theme=dark">Dark</a>
  <a class="btn" style="background:green;color:black;margin-left:20px;" href="/Home/ChangeTheme?theme=colorful">Colorful</a>
</div>
